<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <style>
  h2 {
    text-align: center;
	}
	input[type=text],input[type="date"] {
    background-color: transparent;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: ridge;
    padding: 3px 10px;
}
  </style>
</head>
<body>  
<div class="container">
	<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
	<div id="codeofbuisnessconduct" style="background-color:#ffffff;">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
		<div style="float:left;"><img src="image/ATTlogo.jpg" width="50px" height="50px"/></div>
		<div style="padding-top: 5px;"><span>AT&#38;T Communication Inc.<br/>and participating Companies</span></div>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8"><h2>AT&#38;T Code of Business Conduct</h2>
		<h2>Acknowledgement Form</h2></div>
		<div class="col-sm-2"></div>
	</div>
	<div style="height:50px;"></div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8"><p>I have carefully read and reviewed the "AT&#38;T Code of Business Conduct", and will abide by the rules contained therein.</p> 
		<p>I fully understand the provisions it contains and the requirement imposed. I further understand that violating any of the requirements identified in the AT&#38;T code of Business Conduct may subject me to disciplinary action, up to and including dismissal</p></div>
		<div class="col-sm-2"></div>
	</div>
	<div style="height:100px;"></div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8" style="border:1px solid;padding-top: 10px;padding-bottom: 30px;">
			<h2>Restricted Proprietary Information</h2>
			<span class="col-sm-2">Name(Printed):</span><input type="text" class="col-sm-10" name="name"/>
			<span class="col-sm-2">Date:</span><input type="text" class="col-sm-10" id="date1" placeholder="DD-MM-YYY" onchange="myFunction()" name="date"/>
			<span class="col-sm-5">Temporary Worker/Contractor UUID:</span><input type="text" class="col-sm-7" name="uuid"/>
			<span class="col-sm-4">Supervisor Name(Printed):</span><input type="text" class="col-sm-8" name="supervisorName"/>
		</div>
		<div class="col-sm-2"></div>
	</div>
	</div>
	<div id="editor"></div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8" style="text-align:center;padding-top:30px;"><input type="submit" value="I Acknowlodge" id="acknowledgement"/></div>
		<div class="col-sm-2"></div>
	</div>
	</form>
</div>
<script>
function myFunction() {
	try{
	var x = $("#date1").val();
	var rgexp = /(^(((0[1-9]|1[0-9]|2[0-8])[-](0[1-9]|1[012]))|((29|30|31)[-](0[13578]|1[02]))|((29|30)[-](0[4,6,9]|11)))[-](19|[2-9][0-9])\d\d$)|(^29[-]02[-](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)/;
	var isValidDate = rgexp.test(x);
	if(!isValidDate){
		alert("please enter correct date and format in DD-MM-YYYY");
	}
	}
	catch(e) {
  		 alert("Error description: " + e.message);
  	 }
}
$('#acknowledgement').click(function (event) {
	event.preventDefault();
	//alert("is prevented"+ event.isDefaultPrevented());
	fire_ajax_submit();
});
function fire_ajax_submit() {
	html2canvas($('#codeofbuisnessconduct'), {
	    onrendered: function (canvas) {
	    	try{
	    		var imgData = canvas.toDataURL("image/jpeg",1.0);
			    var pdf = new jsPDF('p', 'mm', 'a4');
			    pdf.addImage(imgData, 'JPEG', 5, 5,200,200);
			   var file1 = pdf.output('datauristring');
			   var file = dataURLtoFile(file1, 'cobc.pdf');
			    //alert("file===="+file);
			    var form = $('#fileUploadForm')[0];
			    var data = new FormData(form);     // To carry on your data  
			    data.append('files',file);
			    //data.append('name','hello');
			   // $("#btnSubmit").prop("disabled", true);
			    $.ajax({
			    	type: "POST",
			    	enctype: 'multipart/form-data',
			        url: "/cobconduct",
			        data: data,
			        processData: false,
			        contentType: false,
			        cache: false,
			        timeout: 1000000,
			       success: function (data) {
			         alert('Exit to send request');
			       },
			       error: function (xhr, ajaxOptions, thrownError, request, error) {
			    	   alert('xrs.status = ' + xhr.status + '\n' +
			                   'thrown error = ' + thrownError + '\n' +
			                   'xhr.statusText = ' + xhr.statusText + '\n' +
			                   'request = ' + request + '\n' +
			                   'error = ' + error);
			       }
			    });
	    	}
	    	catch(e) {
	   		 alert("Error description: " + e.message);
	   	 }
      }
     });
}
function dataURLtoFile(dataurl, filename) {
    var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
    while(n--){
        u8arr[n] = bstr.charCodeAt(n);
    }
    return new File([u8arr], filename, {type:mime});
}
/*$('#acknowledgement').click(function () {
	html2canvas($('#codeofbuisnessconduct'), {
	    onrendered: function (canvas) {
	    	try{
				var imgData = canvas.toDataURL("image/jpeg",1.0);
			    var pdf = new jsPDF('p', 'mm', 'a4');
			    pdf.addImage(imgData, 'JPEG', 5, 5,200,200);
			    pdf.save("codeofbuinessconduct.pdf");
	    	}
	    	catch(e) {
	   		 alert("Error description: " + e.message);
	   	 }
      }
     });
});*/
</script>
</body>
</html>
