<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <style>
  	h3 {
    text-align: center;
	}
	input[type=text] {
    background-color: transparent;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: ridge;
    padding: 3px 10px;
}
  </style>
</head>
<body>
	<div class="container">
		<div id="confandinvenagreement" style="background-color:#ffffff;">
		<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-9">
		<div style="border-bottom:1px solid;"><h3>CONFIDENTIALITY AND INVENTION AGREEMENT</h3></div>
		<div style="padding-top: 10px;"><p>This Agreement ("Agreement") dated <input type="text" placeholder="DD-MM-YYY"/> is made by the individual named below ("I" or "me"), who is engaged 
		to perform work at <input type="text"/> ("AT&#38;T. Inc"), as a worker of Amdocs/Service provider to Amdocs ("Supplier") under the terms and conditions 
		of the agreement named below, between supplier and <input type="text"/></p></div>
		</div>
		</div>
		<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-9">
			<h4>I. Background</h4>
				<ol>
					<li><p>I have been engaged by Supplier to provide service to AT&#38;T. Inc, I may be hired by supplier as a full or part time employee
					. a temporary worker, or as an independent contractor </p>
					</li>
				</ol>
			<h4>II. Information</h4>
				<ol>
					<li><p>I agree and understand that the term "Information" means any technical customer or business information 
					in written, graphical, oral or other tangible or intangible forms, including but not limited to. specifications, records, data, 
					computer programs, tax returns, tax workpapers, drawings, models and secrets which AT&#38;T, Inc. may have in its possession or be legally 
					obligated to keep confidential. I understand that during the course of  my work at AT&#38;T, Inc. I may have access to Information 
					that belong to AT&#38;T, Inc. its customers and other parties, and may be subject to privacy laws and laws regarding secrecy of 
					communications, and that unauthorized disclosure of such information may be harmful and prejudicial to the interest of AT&#38;T, Inc. 
					I agree not to disclose, copy, publish, or any way use, directly or indirectly, such information for my purposes or the 
					purposes of others, unless such disclosure or use is expressly authorized in writing by AT&#38;T, Inc. I agree to keep such 
					information into secure environment to prevent the inadvertent disclosure of such information to others. I acknowledge and 
					agree that all such information remains the exclusive property of AT&#38;T, Inc. and I agree not to remove such information from 
					AT&#38;T, Inc.'s possession or premises by physical removal or electronic transmission unless i Have written authorization from AT&#38;T, Inc. to do so.</p>
					</li>
				</ol>
			<h4>III. Innovations</h4>
				<ol>
					<li><p>I understand that during and incident to my work at AT&#38;T, Inc. I may create inventions, discoveries, improvements, computer 
					or other apparatus programs, and related documentation and other work of authorship ("Innovations"), whether or not 
					patentable, copyrightable, or subject to other forms of legal protection I assign to AT&#38;T, Inc. all of my rights, title and interest 
					(including rights in copyright) in and all innovations I makes, create or develop either solely or jointly with others, during my 
					work at AT&#38;T, Inc. for which supplier was paid by AT&#38;T, Inc. for my work or for which i used AT&#38;T, Inc's materials or 
					facilities, i agree that the above assignment is binding upon my estate, administrators. or other legal representatives or assigns.</p>
					</li>
					<li><p>I agree to promptly notify AT&#38;T, Inc. of all such innovations, Whenever requested by AT&#38;T, Inc. I shall promptly execute 
					without additional compensations any and all instruments which AT&#38;T, Inc. may deem necessary to assign and convey to 
					AT&#38;T, Inc. all of my rights, title and interest in and to all such innovations, in addition i agree to assist AT&#38;T, Inc. in 
					preparing copyright or patent applications and to execute such applications and all documents required to obtain copyrights or 
					patent for such innovation, all at AT&#38;T, Inc's expense including compensation to me at the rates specified in the agreement 
					named below. I agree that my obligation to execute such instruments shall continue after the expiration of my work with AT&#38;T, Inc.</p>
					</li>
					<li><p>This agreement doesn't apply to any invention made in the state of Kansas for which no equipments, supplies, facilities or trade secret information of AT&#38;T, Inc. was used and which
					was developed entirely on my own time. Unless(1) the invention relates to the Business of the AT&#38;T, Inc. or the AT&#38;T, Inc's actual or demonstrably  anticipated research or development or (2) The invention results
					from any work performed by me for AT&#38;T, Inc. This agreement doesn't apply to an invention made in California which qualify fully under the provisions of California Labor Code Section 2870 Section III, paragraph 1 and 2 do not apply to any innovation 
					which, under the provisions in the agreement named below, is to be other than the sole and exclusively property of AT&#38;T, Inc. the title provisions of said agreement apply to any such above innovation. </p>
					</li>
				</ol>
			<h4>IV. Administrative Terms</h4>
			<ol>
				<li><p>This agreement shall be effective as of the date executed below, and shall remain in effect not with standing my termination of employment with supplier or termination of my work at AT&#38;T, Inc.</p>
				</li>
				<li><p>In the event that any provision of this Agreement is held to be invalid or unenforceable, then such invalid or enforceable provisions 
				shall be severed, and the remaining provisions shall remain in full force and effect to the fullest extent permitted by law</p>
				</li>
			</ol>
			<p>I have read understand and agree to abide by this agreement</p>
		</div>
		</div>
		<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-9" style="padding-top: 30px;padding-bottom: 30px;">
			<div>
				<span>Print name:</span><input type="text" size="40"/><span>Social Security Number:</span><input type="text" size="30"/>
			</div>
			<div>	
				<span>Address:</span><input type="text" size="102"/>
			</div>	
			<div>	
				<span>Date:</span><input type="text" placeholder="DD-MM-YYYY" size="30"/><span>Agreement Number between supplier and AT&#38;T, Inc.:</span><input type="text"/>
			</div>
		</div>
		</div>
		</div>
		<div id="editor"></div>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-9" style="text-align:center;padding-top:30px;padding-bottom:60px;"><input type="submit" value="I Acknowlodge" id="acknowledgement"/></div>
		</div>
	</div>
	<!-- java script code  -->
	<script>
	$('#acknowledgement').click(function () {
		html2canvas($('#confandinvenagreement'), {
		    onrendered: function (canvas) {
		    	try{
					var imgData = canvas.toDataURL("image/jpeg",1.0);
					$('#editor').html('<img src="'+imgData+'" alt=""/>');
				    var pdf = new jsPDF('p', 'mm', 'a4');
				    pdf.addImage(imgData, 'JPEG', 5, 5,200,270);
				    pdf.save("Test.pdf");
		    	}
		    	catch(e) {
		   		 alert("Error description: " + e.message);
		   	 }
	      }
	     });
	});
	</script>
</body>
</html>